# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Screenshots
screenshots/

# Render
.env.local

node_modules/
